@import './settings';
@import './plate';
@import './box';
@import './puddle';
@import './container';
@import './buttons';


.app {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}