.header {
  background-color: $green;
}

.nav-logo {
  margin-right: 30rem;
}

nav {
  margin: 0 5rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: right;
      position: relative;
      a {
        display: block;
        padding: 0 2rem;
        line-height: 4rem;
        background: $green;
        color: $white;
        text-decoration: none;
        &:hover {
          background: $green-light;
          color: $white;
        }
      }
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

