.info {
    display: flex;
    flex-flow: column wrap;
    background-color: gold;
    justify-content: space-around;
    padding:  2px;
    margin: 0 10px;
    height: 295px;
    width: 200px;
}
.info-bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.info-item {
    background-color: goldenrod;
    margin: 2px 0;
    padding: 1.35px 0;
}