.plate {
    background-color: gold;
    width: 240px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}